VITE_INCO_PEPPER=testnet
VITE_CHAIN_ID=84532
VITE_CHAIN_NAME=Base Sepolia
VITE_RPC_URL=https://rpc.ankr.com/base/1dfb41f645be2ab63ae3eb7463c41f98995438f00e44a579a0abee13b61cf83a
VITE_GAME_ADDRESS=0xYOUR_DEPLOYED_TWO_THIRDS_ADDRESS
VITE_TOKEN_ADDRESS=0xUSDC_ON_THIS_CHAIN
